/*Importing google web font Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

/*Description
1. Root settings
2. Body, html settings
3. Buttons
4. Navbar
5.
6.
7.
*/

/*1.Root settings*/
* {
    font-family: Roboto;
    /*Set font to Roboto*/
    box-sizing: border-box;
    /*Declare color on website*/
    --one: #026873;
    --two: #0596A6;
    --three: #03A6A6;
    --four: #222d38;
    --five: #DAD3C8;
    --black: black;
    --six: #726651;
    --white: #ffffff;
}

/*2. Body, Html settings*/
body,html{
    /*make it so all space is stretched*/
    margin:0;
    padding:0;
    /*no overflow*/
    overflow-x: hidden;
    height:100%;
    /*Using pre-decided colors using "var()" function*/
    background-color: var(--five);

}

/*3. Buttons*/

/*Button 1*/
.btn {

    border: none;
    background-color:var(--six);
    /*rounded edges on button*/
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    
}

/*Button 2*/
.btn2 {

    border: none;
    background-color:var(--black);
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    
}
/*4. Navbar*/
/*Navbar with Flex*/
.navbar{
    display: flex;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
    position: fixed;
    align-items: center;
    margin: auto;
    background-color: var(--four);
    /*Placing objects in order/layers*/
    z-index: 999;
    top:0;
    transition: 0,3s ease-in-out;

}
/*logo/title*/
.brand-title{
font-size: 1.5rem;
color: var(--white);
font-weight: bold;
margin-left: 2vw;
}
/*clarify that the background on the links is in the same color as the navbar itself*/
.navbar-links{
    height: 100%;
    background-color: var(--four);
}

/*adjusting the link settings*/
.navbar-links ul{
    display: flex;
    margin-top: 3vh;
    padding: 0;

}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    text-decoration: none;
    color: var(--white);
    padding: 1rem;
    margin: 2vw;
}

.navbar-links li:hover{
    font-weight: 900;
    text-decoration: underline;
}
/*only visivble in responsive mode, handled by javascrip*/
.toggle-button{
    /*the absolut means it will always be in the position that*/
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}



